apiVersion: apps/v1
kind: Deployment
metadata:
  name: adult-income-api
  labels:
    app: adult-income-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adult-income-api
  template:
    metadata:
      labels:
        app: adult-income-api
    spec:
      containers:
        - name: api
          image: adult-income-api:ci
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
